html {
    text-align: center;
    font-family: 'Xanh Mono', monospace;
    background-image: url(library.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    color: white;
    font-size: 3rem;
    background: black;
    border-radius: 10px;
    width: fit-content;
    margin: 2rem auto;
    padding: 10px;
}

#library {
    display: flex;
    justify-content: space-evenly;
}

li, p {
    border: 1px solid black;
    width: 15vw;
    height: fit-content;
    min-height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.842);
}

#container {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.774);
    width: 100vw;
    left: 0;
    margin: 0;
}
label {
    color: white;
    
}

input, button {
    margin: 10px;
    height: 40px;
}

input {
    padding: none;
}

input, button, label {
    font-size: 20px;
    text-align: center;

}

button {
    padding: 5px;
    
}

.remove {
    font-size: 15px;
    padding: 1px 10px;
    background-color: rgba(255, 0, 0, 0.336);
}

.unread {
    background-color: thistle;
}

.read {
    background-color: rgba(64, 224, 208, 0.24);
}

input, button, p {
    border-radius: 10px;
    font-family: 'Xanh Mono', monospace;

}

